<!doctype html>

<!-- <html> 
  
<head> 
    <style> 
        span { 
            display: none; 
        } 
          
        body { 
            width: 35%; 
            height: 50px; 
            border: 2px solid green; 
            padding: 35px; 
            margin: 10px; 
        } 

        .im{
            display: none;
        }
    </style> 
    <script src="https://code.jquery.com/jquery-1.10.2.js"> 
    </script> 
</head> 

<body> 
    
    <p> 
        <input type="text" class="abc"> <span>focused</span></p> 
        <img src="./static/resources/user.svg" class="im" style="height: 1em;">
  
    
    <script> 
        $(".abc").focus(function() { 
            // $(this).next("span").css("display", "inline"); 
            $(".im").css("display", "inline")
        });
        
        $(".abc").focusout(function() { 
            // $(this).next("span").css("display", "inline"); 
            $(".im").css("display", "none")
        });
    </script> 
  
</body> 
  
</html>  -->



<!-- <html>
    <head>
        <title>Exciting Stuff !</title>
        <link rel="stylesheet" type="text/css" href="./static/styles/styling.css">
        <script src="<https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
        <section>
            <div class="box">
                <div class="form">
                    <h2>Login</h2>
                    <form>
                        <div class="inputBx">
                            <input type="text" placeholder="Username">
                            <img src="./static/resources/user.svg" style="height: 1em;">
                        </div>
                        <div>
                            <input type="password" placeholder="Password">
                            <img src="./static/resources/lock.svg"  style="height: 1em;">
                        </div>
                        <label><input type="checkbox">Remember Me</label>
                        <div class="inputBx">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html> -->



<html>
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Exciting Stuff !</title>
        <link rel="stylesheet" type="text/css" href="./static/styles/styling.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    </head>
    <body>
        <!-- <script src="./static/scripts.js" charset="utf-8"></script> -->
        <div class="grid-container">
            <div class="typeform-area">
                <div class="accha">
                    <h1 style="text-align: center;">Everybody. Influence.</h1>
                        <p style="text-align: center;">If you're interested in becoming an influencer, getting brand partnerships, 
                            free products, easy money in your bank and are on social media, fill this form!</p>
                    <h2 style="text-align: center;">Please Fill In The Details</h2>
                    <form action="./data/" method="POST">
                        <div class="ind">
                            <p class="quest" style="text-align: center;">Who helped you find this form? Any references.</p>
                            <input type="text" placeholder="Your Answer" class="in0" name="a">
                            <span><img src="./static/resources/comicstaan.gif" style="display: none; align-content: center;" class="im1"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">Name</p>
                            <input type="text" placeholder="Answer" class="in1" name="b">
                            <span><img src="./static/resources/likhit.gif" style="display: none; align-content: center;" class="im2"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">Email</p>
                            <input type="text" placeholder="Batao" class="in2"  name="c">
                            <span><img src="./static/resources/email.gif" style="display: none; align-content: center;" class="im3"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">Address</p>
                            <input type="text" placeholder="where art thou" class="in3" name="d">
                            <span><img src="./static/resources/hey.gif" style="display: none; align-content: center;" class="im4"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">Phone number </p>
                            <input type="text" placeholder="them digits" class="in4"  name="e">
                            <span><img src="./static/resources/phone.gif" style="display: none; align-content: center;" class="im5"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">Define yourself, what do you do and what are your interests? </p>
                            <input type="text" placeholder="booooring" class="in5" name="f">
                            <span><img src="./static/resources/hmmm.webp" style="display: none; align-content: center;" class="im6"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">How many followers do you have on Instagram? * </p>
                            <input type="text" placeholder="following kitna hain" class="in6" name="g">
                            <span><img src="./static/resources/followers.webp" style="display: none; align-content: center;" class="im7"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">What is your @username ? </p>
                            <input type="text" placeholder="them digits" class="in7" name="h">
                            <span><img src="./static/resources/insta.webp" style="display: none; align-content: center;" class="im8"></span>
                        </div>

                        <div class="ind">
                            <p class="quest" style="text-align: center;">Average Likes & Average Story Views </p>
                            <input type="text" placeholder="I likeyyyy" class="in8" name="i">
                            <span><img src="./static/resources/avg.webp" style="display: none; align-content: center;" class="im9"></span>
                        </div>

                        


                        <div class="inputBx submitbtn">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
<script src="/static/scripts.js">
</script>
    </body>
</html>