<!DOCTYPE html>

<!-- https://www.the-art-of-web.com/html/html5-form-validation/ -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->

<html lang=en>
	<head>
		<!-- basic page needs -->
		<meta charset="utf-8">
		<title>Exciting Stuff !</title>
		<meta name="surveyform" content="It is a survey to scout the best influencers out there">
		<meta name="Author" content="Saiteja Dommeti">


		<!-- Mobile Specific Metas -->

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS -->

		<link rel="stylesheet" type="text/css" href="./static/styles/styling_naya.css">
        <link rel="stylesheet" href="./static/styles/skeleton.css">
        <link rel="stylesheet" href="./static/styles/normalize.css">

        <!-- Scripts to Load -->

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="./static/scripts.js"></script>

        <!-- FAVICON -->
        <link rel="icon" type="image/png" href="./static/resources/favicon.ico">
	</head>

	<body>
		<!-- Main Code Starts Here -->
		<div id="main">
			<div class="container">
				<div class="row">
					<div class="twelve columns" style="margin-top: 20vh">
						<h2 style="text-align: center; font-size: 3.6rem">Everybody. Influence.</h2>
                        <p style="text-align: center;">If you're interested in becoming an influencer, getting brand partnerships, 
                            free products, easy money in your bank and are on social media, fill this form!</p>
                    	<h1 style="text-align: center;">Please Fill In The Details</h1>
					</div>
					<div class="twelve columns" style="margin-top: 5vh ;">
						<form action="./data/" method="POST">
							<div id="form-div">
								<div class="ind">
	                            <p class="quest" style="text-align: center;">Who helped you find this form? Any references.</p>
	                            <input type="text" placeholder="Kisne Bataya" class="in0 inn" name="a">
	                            <span><img src="./static/resources/1.jpg" style="display: none; align-content: center;width: 0%" class="im1"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Name *</p>
		                            <input type="text" placeholder="What do we call you?" class="in1 inn" name="b" required>
		                            <span><img src="./static/resources/likhit.gif" style="display: none; align-content: center;width: 0%" class="im2"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Email *</p>
		                            <input type="text" placeholder="To send you the invite" class="in2 inn"  name="c" required>
		                            <span><img src="./static/resources/email.gif" style="display: none; align-content: center;width: 0%" class="im3"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Address</p>
		                            <input type="text" placeholder="To send you the products " class="in3 inn" name="d">
		                            <span><img src="./static/resources/hey.gif" style="display: none; align-content: center;width: 0%" class="im4"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Phone number *</p>
		                            <input type="text" placeholder="Them Digits" class="in4 inn"  name="e" required>
		                            <span><img src="./static/resources/phone.gif" style="display: none; align-content: center;width: 0%" class="im5"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Define yourself, what do you do and what are your interests? *</p>
		                            <input type="text" placeholder="Karte Kya ho? Kya pasand hain?" class="in5 inn" name="f" required>
		                            <span><img src="./static/resources/hmmm.webp" style="display: none; align-content: center;width: 0%" class="im6"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">How many followers do you have on Instagram? * </p>
		                            <input type="text" placeholder="Following kitni hain?" class="in6 inn" name="g" required>
		                            <span><img src="./static/resources/followers.webp" style="display: none; align-content: center;width: 0%" class="im7"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">What is your @username ? * </p>
		                            <input type="text" placeholder="Profile Name" class="in7 inn" name="h" required>
		                            <span><img src="./static/resources/insta.webp" style="display: none; align-content: center;width: 0%" class="im8"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Average Post Likes *</p>
		                            <input type="text" placeholder="Me likeyyyy" class="in8 inn" name="i" required>
		                            <span><img src="./static/resources/avg.webp" style="display: none; align-content: center;width: 0%" class="im9"></span>
		                        </div>

		                        <div class="ind">
		                            <p class="quest" style="text-align: center;">Average Story Views *</p>
		                            <input type="text" placeholder="Me likeyyyy" class="in8 inn" name="j" required>
		                            <!-- <span><img src="./static/resources/avg.webp" style="display: none; align-content: center;width: 0%" class="im9"></span> -->
		                        </div>

		                        <div class="ind">
		                        	<p class="quest" style="text-align: center;">Do you have a ___ ? *</p>
		                        	<input type="radio" id="r1" name="k" value="Personal" required>
  									<label for="r1">Personal Profile</label><br>
									<input type="radio" id="r2" name="k" value="Business" required>
									<label for="r2">Business Profile</label><br>
									<input type="radio" id="r3" name="k" value="Professional" required>
									<label for="r3">Professional Profile</label><br>
									<input type="radio" id="r4" name="k" value="Creator" required>
									<label for="r4">Creator's Profile</label><br>
								</div>

		                        


		                        <div class="inputBx submitbtn">
		                            <input type="submit" value="Submit">
		                        </div>
		                    </div>
						</form>
					</div>
				</div>
			</div>
			<!-- <div class="area" >
            	<ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            	</ul>
    		</div > -->
		</div>
	</body>
</html>